.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
	color:black;
	background-color: #cbcc0c;
	font-weight: bold;
}
.navbar-custom{
	background-color: green;
}
.navbar-default .navbar-nav>li>a {
    color: white !important;
}