<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Probando Ajax en AngularJS</title>
    <style>
        body{ font-family: sans-serif;}
        li{
            font-size: 0.8em;
        }
        li span{
            font-weight: bold;
        }
    </style>
</head>
<body>
<div ng-app="apiApp" ng-controller="apiAppCtrl as vm">
  <h1>Prueba Ajax</h1>
  Titulo: <input type="text" ng-model="vm.titulo"> Contenido: <input type="text" ng-model="vm.contenido"> <input type="button" value="Crear" ng-click="vm.crearArticulo()">
  <br/>
  Articulo creado: {{vm.articuloCreado.title}}, {{vm.articuloCreado.content}}
  <p>
      <input type="button" value="buscar" ng-click="vm.buscarArticulos()">
  </p>
  <p>Status: {{vm.resp.status}}</p>
  <ul>
      <li ng-repeat="articulo in vm.articulos | orderBy:'-created'">Titulo: <span>{{articulo.title | uppercase }}</span>, contenido: {{articulo.content}}</li>
  </ul>

</div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.24/angular.min.js"></script>
    <script>
    angular
        .module('apiApp', [])
        .controller('apiAppCtrl', ['$http', controladorPrincipal]);

    function controladorPrincipal($http){
        var vm=this;
        //importante http://
        var targetUrl = 'http://localhost:8000/articles';

        var req = {
        	method: 'GET',
        	url: targetUrl,
        	headers:{
        		'Content-Type': 'application/json',
        		'x-access-token': 'eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiI1N2FkNmJlNDg2NGIwNzcwMTZkZWE1ZTMiLCJpYXQiOjE0NzE4NTUyNTIsImV4cCI6MTQ3MTk0MTY1Mn0.AkpaOFBtaXACfnYjR40PbUncoQSFvJY__A-K0TWUu_I'
        	}
        }
        
        vm.buscarArticulos = function(){
            $http(req).then(function (result) {
            	console.log(result)
            	vm.articulos = result.data;
            	vm.resp = result;
            }, function (err) {
            	console.log(err)
            })
        }

        vm.crearArticulo = function () {
        	var req2 = {
        		method: 'POST',
        		url: targetUrl,
        		headers: {
        			'Content-Type': 'application/json',
        			'x-access-token': 'eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiI1N2FkNmJlNDg2NGIwNzcwMTZkZWE1ZTMiLCJpYXQiOjE0NzE4NTUyNTIsImV4cCI6MTQ3MTk0MTY1Mn0.AkpaOFBtaXACfnYjR40PbUncoQSFvJY__A-K0TWUu_I'
        		},
        		data: {
        			"title": vm.titulo,
        			"content": vm.contenido
        		}
        	}

        	$http(req2).then(function (respuesta) {
        		vm.articuloCreado = respuesta.data;
                vm.articulos.push(vm.articuloCreado)
        	}, function (err) {
        		console.log(err)
        	})
        }
    }

    </script>
</body>
</html>